.circle {
  box-shadow: 2px 2px 5px rgb(193, 193, 193);
}
/* 아래는 위에서 설정한 내용 */
.circle {
  border-radius: 50%;
  width: calc(1em / 0.7);
  height: calc(1em / 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3em;
  color: white;
  background-color: gainsboro;
  border: 2px solid black;
  -webkit-text-stroke: 2px black;
}
/* 기본 스타일: 래퍼 */
#wrapper {
  display: flex;
  justify-content: left;

  margin: 1 auto;
  padding: 5px;
}
